XRAY_LOG_PATH=/usr/local/x-ui/access.log
XRAY_OFFENDER_FILE=data/torrent-offenders.txt
XRAY_PANEL_SCHEME=https
XRAY_PANEL_HOST=
XRAY_PANEL_PORT=
XRAY_PANEL_BASE=
XRAY_PANEL_USER=
XRAY_PANEL_PASS=
XRAY_PANEL_2FA=
TORRENT_LOG_FILE=data/ban_log.json
TORRENT_BAN_HOURS=5
TORRENT_POLL_INTERVAL=1.0
WEBHOOK_ALLOWED_ORIGINS=
WEBHOOK_ALLOWED_IPS=
WASENDER_ENABLED=0
WASENDER_PERSONAL_TOKEN=
WASENDER_API_KEY=
WASENDER_CHANNEL=
WHATSAPP_INTEGRATION=False
TBLOCK_TOKEN=
VALIDATOR_URL=https://whale-app-sdmtd.ondigitalocean.app
VPS_IP=
BAN_DB=
PANEL_PORT=2374
